<h1>Ajout formateur: </h1>

<ul>
    <li>libelle: ............. {{form.libelle}} </li><br>
    <li>duree: ............... {{form.duree}} </li><br>
    <li>plan_cours: .......... {{form.plan_cours}}</li><br>
    <li>prix: ................ {{form.prix}}</li><br>
    <li>formateurs: .......... {{form.formateurs}}</li>
    
</ul>