<h1>Ajout formation : </h1>

<form method="POST" action="{{form_action}}" id="newForm">
    <input type="hidden" name="id" value="{{formation._id}}" /><br>
    libelle : <input type="text" name="libelle" value="{{formation.libelle}}" /><br>
    duree : <input type="number" name="duree" min="1" max="999" value="{{formation.duree}}" /><br>
    plan de cour : <input type="text" name="plan_cours" value="{{formation.plan_cours}}" /><br>
    prix(en €) : <input type="number" name="prix" min="1" max="99999" value="{{formation.prix}}" /><br>
    formateurs : 
    <input type ="submit" value="confirme la {{libelle}}" />

    
</form>

<script>
    var form = document.getElementById('newForm');
    form.addEventListener('submit', function(evt) {
        form.action += "/{{formation._id}}"
        form.submit();
    });
</script>