<h1>{{title}}</h1>

<ul>
    <li>libelle: ............. {{formation.libelle}} </li><br>
    <li>duree: ............... {{formation.duree}} </li><br>
    <li>plan_cours: .......... {{formation.plan_cours}}</li><br>
    <li>prix: ................ {{formation.prix}}</li><br>
    <li>formateurs: .......... {{#each formation.formateurs}} {{this.nom}} {{this.prenom}},
    {{/each}}</li>
</ul>