<h1>{{title}}</h1>

<ul>
    <li>nom: ............. {{formateur.nom}} </li><br>
    <li>prenom: ............... {{formateur.prenom}} </li><br>
    <li>statut: .......... {{formateur.statut}}</li><br>
    <li>prix (par jours): ................ {{formateur.prix_jour}}</li><br>
</ul>